_Source/force-app/main/default/flows/BI_Case_Initiating_Process_BI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>invocableContextErrorEmail</name>
        <label>Context Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The BI_Case_Initiating_Process_BI-1 invocable process failed to start because no records in your org match the record Id specified. In the entities that invoke BI_Case_Initiating_Process_BI-1, such as other processes, check the value for this input: SObjectId.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>yanjargholi@gmail.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>invocableSObjectErrorEmail</name>
        <label>SObject Or Id Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The BI_Case_Initiating_Process_BI-1 invocable process failed to start because a valid value wasn&apos;t found. This can happen when entities that invoke BI_Case_Initiating_Process_BI-1, such as other processes, don&apos;t have values for either the SObject or SObjectId. For example: 
-An SObject or SObject ID wasn&apos;t specified.
-A value might have been included, but it was null at runtime. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>yanjargholi@gmail.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>BI_Case_Notification_BI_Internal_New</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Send</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Case.BI_Case_Notification_BI_Internal_New</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>BI_Case_Notification_BI_Internal_In_Progress</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Send</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Case.BI_Case_Notification_BI_Internal_In_Progress</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_3_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>BI_Case_Notification_BI_Internal_Closed</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Sned</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Case.BI_Case_Notification_BI_Internal_Closed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_5_A2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>invocableContextCheckDecision</name>
        <label>Context Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableContextErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>invocableContextCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Context Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>New_Internal</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>InProgress_Internal</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Closed_Internal</label>
        </rules>
    </decisions>
    <decisions>
        <name>sobjectInputCheckDecision</name>
        <label>SObject Input Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableSObjectErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>sobjectInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Not Null</label>
        </rules>
        <rules>
            <name>sobjectIdInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myInvocableContextRecordLookup</targetReference>
            </connector>
            <label>SObject Id Not Null</label>
        </rules>
    </decisions>
    <description>BI Notifications</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS(Text([Case].Status), &apos;New&apos;) &amp;&amp;
((TEXT( [Case].BI_Auto_Notification_New__c) = &apos;UA Employee (Internal Only)&apos;) || (TEXT( [Case].BI_Auto_Notification_New__c) = &apos;UA Employee &amp; Customer Contact&apos;)) &amp;&amp;
[Case].BI_New_Notification_Sent_Int__c  = False &amp;&amp;
([Case].BI_User__c &lt;&gt; &apos;&apos; || ([Case].BI_User__c &lt;&gt; null)) &amp;&amp;
[Case].BI_User__c.IsActive  = True &amp;&amp;
([Case].BI_User__c.Email &lt;&gt; &apos;&apos; || [Case].BI_User__c.Email &lt;&gt; null) &amp;&amp;
NOT(CONTAINS( [Case].BI_User__c.Email , &apos;invalid&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS(Text({!SObject.Status}), &apos;New&apos;) &amp;&amp;
((TEXT( {!SObject.BI_Auto_Notification_New__c}) = &apos;UA Employee (Internal Only)&apos;) || (TEXT( {!SObject.BI_Auto_Notification_New__c}) = &apos;UA Employee &amp; Customer Contact&apos;)) &amp;&amp;
{!SObject.BI_New_Notification_Sent_Int__c}  = False &amp;&amp;
({!SObject.BI_User__c} &lt;&gt; &apos;&apos; || ({!SObject.BI_User__c} &lt;&gt; null)) &amp;&amp;
{!SObject.BI_User__r.IsActive}  = True &amp;&amp;
({!SObject.BI_User__r.Email} &lt;&gt; &apos;&apos; || {!SObject.BI_User__r.Email} &lt;&gt; null) &amp;&amp;
NOT(CONTAINS( {!SObject.BI_User__r.Email} , &apos;invalid&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS(Text([Case].Status), &apos;In Progress&apos;) &amp;&amp;
((TEXT( [Case].BI_Auto_Notification_In_Progress__c) = &apos;UA Employee (Internal Only)&apos;) || (TEXT( [Case].BI_Auto_Notification_In_Progress__c) = &apos;UA Employee &amp; Customer Contact&apos;)) &amp;&amp;
[Case].BI_In_Progress_Notification_Sent_Int__c  = False &amp;&amp;
([Case].BI_User__c &lt;&gt; &apos;&apos; || ([Case].BI_User__c &lt;&gt; null)) &amp;&amp;
[Case].BI_User__c.IsActive  = True &amp;&amp;
([Case].BI_User__c.Email &lt;&gt; &apos;&apos; || [Case].BI_User__c.Email &lt;&gt; null) &amp;&amp;
NOT(CONTAINS( [Case].BI_User__c.Email , &apos;invalid&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS(Text({!SObject.Status}), &apos;In Progress&apos;) &amp;&amp;
((TEXT( {!SObject.BI_Auto_Notification_In_Progress__c}) = &apos;UA Employee (Internal Only)&apos;) || (TEXT( {!SObject.BI_Auto_Notification_In_Progress__c}) = &apos;UA Employee &amp; Customer Contact&apos;)) &amp;&amp;
{!SObject.BI_In_Progress_Notification_Sent_Int__c}  = False &amp;&amp;
({!SObject.BI_User__c} &lt;&gt; &apos;&apos; || ({!SObject.BI_User__c} &lt;&gt; null)) &amp;&amp;
{!SObject.BI_User__r.IsActive}  = True &amp;&amp;
({!SObject.BI_User__r.Email} &lt;&gt; &apos;&apos; || {!SObject.BI_User__r.Email} &lt;&gt; null) &amp;&amp;
NOT(CONTAINS( {!SObject.BI_User__r.Email} , &apos;invalid&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CONTAINS(Text([Case].Status), &apos;Closed&apos;) &amp;&amp;
((TEXT( [Case].BI_Auto_Notification_Closed__c) = &apos;UA Employee (Internal Only)&apos;) || (TEXT( [Case].BI_Auto_Notification_Closed__c) = &apos;UA Employee &amp; Customer Contact&apos;)) &amp;&amp;
[Case].BI_Closed_Notification_Sent_Int__c  = False &amp;&amp;
([Case].BI_User__c &lt;&gt; &apos;&apos; || ([Case].BI_User__c &lt;&gt; null)) &amp;&amp;
[Case].BI_User__c.IsActive  = True &amp;&amp;
([Case].BI_User__c.Email &lt;&gt; &apos;&apos; || [Case].BI_User__c.Email &lt;&gt; null) &amp;&amp;
NOT(CONTAINS( [Case].BI_User__c.Email , &apos;invalid&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS(Text({!SObject.Status}), &apos;Closed&apos;) &amp;&amp;
((TEXT( {!SObject.BI_Auto_Notification_Closed__c}) = &apos;UA Employee (Internal Only)&apos;) || (TEXT( {!SObject.BI_Auto_Notification_Closed__c}) = &apos;UA Employee &amp; Customer Contact&apos;)) &amp;&amp;
{!SObject.BI_Closed_Notification_Sent_Int__c}  = False &amp;&amp;
({!SObject.BI_User__c} &lt;&gt; &apos;&apos; || ({!SObject.BI_User__c} &lt;&gt; null)) &amp;&amp;
{!SObject.BI_User__r.IsActive}  = True &amp;&amp;
({!SObject.BI_User__r.Email} &lt;&gt; &apos;&apos; || {!SObject.BI_User__r.Email} &lt;&gt; null) &amp;&amp;
NOT(CONTAINS( {!SObject.BI_User__r.Email} , &apos;invalid&apos;))</expression>
    </formulas>
    <interviewLabel>BI_Case_Initiating_Process_BI-1_InterviewLabel</interviewLabel>
    <label>Case - Initiating Process - BI</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processType>InvocableProcess</processType>
    <recordLookups>
        <name>myInvocableContextRecordLookup</name>
        <label>myInvocableContextRecordLookup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>invocableContextCheckDecision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObjectId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>SObject</outputReference>
        <queriedFields>Status</queriedFields>
        <queriedFields>BI_New_Notification_Sent_Int__c</queriedFields>
        <queriedFields>BI_Auto_Notification_Closed__c</queriedFields>
        <queriedFields>BI_Auto_Notification_New__c</queriedFields>
        <queriedFields>BI_User__c</queriedFields>
        <queriedFields>BI_Auto_Notification_In_Progress__c</queriedFields>
        <queriedFields>BI_In_Progress_Notification_Sent_Int__c</queriedFields>
        <queriedFields>BI_Closed_Notification_Sent_Int__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Flag</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>New Notification Sent Internal</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>BI_New_Notification_Sent_Int__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A2</name>
        <label>Flag</label>
        <locationX>300</locationX>
        <locationY>300</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>In Progress Notification Sent Internal</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>BI_In_Progress_Notification_Sent_Int__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A2</name>
        <label>Flag</label>
        <locationX>500</locationX>
        <locationY>300</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Closed Notification Sent Internal</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>BI_Closed_Notification_Sent_Int__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>sobjectInputCheckDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>SObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
