_Source/force-app/main/default/flows/BI_Lead_Status_PreWork.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Cold_Email</name>
        <label>Send Cold Email</label>
        <locationX>955</locationX>
        <locationY>578</locationY>
        <actionName>BI_Flow_EmailAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Status_Reason_if_Needed</targetReference>
        </connector>
        <inputParameters>
            <name>bccAddresses</name>
            <value>
                <elementReference>LeadOwner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PersonID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>emailTextCold_Final</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
            <value>
                <elementReference>emailTextCold_Final</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyAddress</name>
            <value>
                <elementReference>LeadOwner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
            <value>
                <elementReference>LeadOwner.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject_Cold</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>Send_To_Cold</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>UseSignature</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Hot_Email</name>
        <label>Send Hot Email</label>
        <locationX>968</locationX>
        <locationY>816</locationY>
        <actionName>BI_Flow_EmailAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Status_Reason_if_Needed</targetReference>
        </connector>
        <inputParameters>
            <name>bccAddresses</name>
            <value>
                <elementReference>LeadOwner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PersonID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HtmlBody</name>
            <value>
                <elementReference>emailTextWarm_Final</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyAddress</name>
            <value>
                <elementReference>LeadOwner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
            <value>
                <elementReference>LeadOwner.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>Subject_Warm</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ToAddresses</name>
            <value>
                <elementReference>Send_To_Warm</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>UseSignature</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <choices>
        <name>Current_StatusReason</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!StatusReasonDefaultChoice}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>StatusReasonDefaultChoice</elementReference>
        </value>
    </choices>
    <choices>
        <name>Current_StatusReason_Untrimmed</name>
        <choiceText>{!Lead.BI_Closed_Lost_Reason__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Lead.BI_Closed_Lost_Reason__c</elementReference>
        </value>
    </choices>
    <decisions>
        <name>ButtonClicked</name>
        <label>ButtonClicked</label>
        <locationX>198</locationX>
        <locationY>550</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>buttonWarmLeadEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>buttonColdLeadEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Owner_WarmEmail</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>Update_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonUpdateStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>Update Status</label>
        </rules>
        <rules>
            <name>Follow_Up_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonFollowUpTask</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Owner</targetReference>
            </connector>
            <label>Follow-Up Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Status_Reason_if_Needed</name>
        <label>Update Status Reason if Needed</label>
        <locationX>1290</locationX>
        <locationY>711</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Status_Reason</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Lead.BI_Closed_Lost_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01 PreWork - Researching  (BI / Hoovers / LinkedIn/ Google etc.)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead.BI_Closed_Lost_Reason__c</leftValueReference>
                <operator>IsNull</operator>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Establishing_Contact</targetReference>
            </connector>
            <label>Update Status Reason</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Owner</name>
        <label>Validate Owner and Due Date</label>
        <locationX>570</locationX>
        <locationY>319</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadOwner.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadOwner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FollowUpDate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Follow_Up_Task</targetReference>
            </connector>
            <label>Valid User and Date</label>
        </rules>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadOwner.UserType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FollowUpDate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <label>Queue</label>
        </rules>
        <rules>
            <name>FollowUp_Date_blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FollowUpDate</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>FollowUpDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Date</targetReference>
            </connector>
            <label>Invalid Date</label>
        </rules>
        <rules>
            <name>Inactive_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadOwner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FollowUpDate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Invalid_User</targetReference>
            </connector>
            <label>Inactive User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Owner_WarmEmail</name>
        <label>Validate Owner</label>
        <locationX>394</locationX>
        <locationY>681</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Warm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.BI_Logged_In_User_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadOwner.Email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>LeadOwner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>buttonWarmLeadEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warm_Lead_EMAIL_SCR</targetReference>
            </connector>
            <label>Valid Warm</label>
        </rules>
        <rules>
            <name>Invalid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Lead.BI_Logged_In_User_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadOwner.Email</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>LeadOwner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_User_is_not_Owner</targetReference>
            </connector>
            <label>Invalid</label>
        </rules>
        <rules>
            <name>Valid_Cold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead.BI_Logged_In_User_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadOwner.Email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>LeadOwner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>buttonColdLeadEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>COLD_LEAD_EMAIL_SCR</targetReference>
            </connector>
            <label>Valid Cold</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>StatusReason_Picklist_Choices_PreWork</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead.00N5w00000LSsNn</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>Contains</operator>
            <value>
                <stringValue>PreWork</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Current_StatusReason_Untrimmed</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>Selected_StatusReason</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Value</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>LeadOwnerCheckNotification</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!LeadOwner.UserType}) != &apos;Standard&apos; || {!LeadOwner.IsActive} == False, &quot;TIP: This lead is owned by Queue or Inactive User. BI recommends that you take ownership of the lead before working on it&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>StatusReasonDefaultChoice</name>
        <dataType>String</dataType>
        <expression>If(IsBlank(Text({!Lead.BI_Closed_Lost_Reason__c})), &apos;Select an Option&apos;, TRIM(RIGHT(Text({!Lead.BI_Closed_Lost_Reason__c}),{!TrimCharacters})))</expression>
    </formulas>
    <formulas>
        <name>TaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Lead Follow-up&quot;  &amp; &quot; &quot; &amp; &quot;(&quot; &amp; {!Lead.Company} &amp; &quot; - &quot; &amp; {!Lead.FirstName} &amp; &quot; &quot; &amp; {!Lead.LastName}</expression>
    </formulas>
    <formulas>
        <name>toastMessageDisplayCreateTask</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!LeadOwner.UserType}) == &apos;Standard&apos; &amp;&amp; {!LeadOwner.IsActive} == True, &quot;Your task was created successfully. If you did not specify a date, please check the PreWork section and follow steps to correct it&quot;,  &quot;Something went wrong - take a look at the Lead screen for more information&quot;)</expression>
    </formulas>
    <formulas>
        <name>toastType</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!LeadOwner.UserType}) == &apos;Standard&apos; &amp;&amp; {!LeadOwner.IsActive} == True, &quot;success&quot;, &quot;warning&quot;)</expression>
    </formulas>
    <formulas>
        <name>TrimCharacters</name>
        <dataType>Number</dataType>
        <expression>LEN(Text({!Lead.BI_Closed_Lost_Reason__c})) - 13</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Lead Status - PreWork {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Status - PreWork</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Follow_Up_Task</name>
        <label>Create Follow-Up Task</label>
        <locationX>909</locationX>
        <locationY>313</locationY>
        <assignRecordIdToReference>taskID</assignRecordIdToReference>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FollowUpDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>206</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Owner</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>BI_Closed_Lost_Reason__c</queriedFields>
        <queriedFields>Company</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>BI_Logged_In_User_Lead__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner</name>
        <label>Get Owner</label>
        <locationX>206</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PREWORK</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>LeadOwner</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>UserType</queriedFields>
        <queriedFields>IsActive</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>207</locationX>
        <locationY>756</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BI_Closed_Lost_Reason__c</field>
            <value>
                <elementReference>Selected_StatusReason</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_Establishing_Contact</name>
        <label>Update Status to Establishing Contact</label>
        <locationX>1299</locationX>
        <locationY>270</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BI_Closed_Lost_Reason__c</field>
            <value>
                <stringValue>02 PreWork - Establishing Contact  (Reached out / Initial Email sent)</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>COLD_LEAD_EMAIL_SCR</name>
        <label>COLD LEAD EMAIL</label>
        <locationX>740</locationX>
        <locationY>552</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Cold_Email</targetReference>
        </connector>
        <fields>
            <name>OwnerCheckMessage2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(189, 8, 14);&quot;&gt;{!LeadOwnerCheckNotification}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Send_To_Cold</name>
            <dataType>String</dataType>
            <fieldText>Send To</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Subject_Cold</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmailTextCold_Input</name>
            <extensionName>c:BI_Flow_RichTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>myVal</name>
                <value>
                    <elementReference>ColdLeadTemplate</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>emailTextCold_Final</assignToReference>
                <name>myVal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ColdCheckTextTips</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 12px; color: rgb(215, 9, 9); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;TIPS&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;~ Take a moment to validate / update your email message. &lt;/i&gt;&lt;b style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;Email signature&lt;/i&gt;&lt;/b&gt;&lt;i style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt; details is based your user record details in BI - you may have to update it before sending the Email&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;~ Remember, emails are sent &apos;FROM&apos; the lead owner (i.e. you)&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SendColdEmail</name>
            <extensionName>c:BI_Flow_Custom_Navigation_Model</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonNavigation</name>
                <value>
                    <stringValue>BACK</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel2</name>
                <value>
                    <stringValue>Send</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>toastButton</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>toastText</name>
                <value>
                    <stringValue>If no error message is displayed in the PRE-WORK section, your email was sent</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invalid_Date</name>
        <label>Invalid Date</label>
        <locationX>427</locationX>
        <locationY>53</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InvalidDateMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(231, 4, 4); font-size: 14px;&quot;&gt;OH NO  -  HERE&apos;S WHAT&apos;S WRONG&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You did not specify the follow-up date prior to clicking the button to create the task, or you set a date in the past.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Click &apos;Previous&apos; to go back, specify a valid date for a scheduled Lead follow-up reminder, and click on &apos;Create Task&apos;. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invalid_User</name>
        <label>Invalid User</label>
        <locationX>738</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InvalidUserMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(231, 4, 4);&quot;&gt;OH NO  -  HERE&apos;S WHAT&apos;S WRONG&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The task is automatically assigned to the current lead owner. It looks like this lead is still owned by a Queue, or a user that is no longer active.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Take ownership of the lead first, prior to creating a follow-up task.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(7, 169, 2);&quot;&gt;TIP&lt;/b&gt;: After updating the Lead Owner, refresh your browser window before proceeding&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invalid_User_is_not_Owner</name>
        <label>Invalid - User is not Owner</label>
        <locationX>744</locationX>
        <locationY>687</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OwnerErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(231, 4, 4); font-size: 14px;&quot;&gt;OH NO  -  HERE&apos;S WHAT&apos;S WRONG&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To send this email, you must be the lead owner and have a valid email address for your user record in BI.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Click Previous to go back to the Pre-Work tab. Take ownership of the lead first, and try sending the email again. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(7, 169, 2); font-size: 14px;&quot;&gt;TIP&lt;/b&gt;:  If you are the lead owner, contact businessInsight@United.com to validate the email address on your user record&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PREWORK</name>
        <label>PREWORK</label>
        <locationX>206</locationX>
        <locationY>373</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ButtonClicked</targetReference>
        </connector>
        <fields>
            <name>LeadOwnerCheckMessage1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(189, 8, 14);&quot;&gt;{!LeadOwnerCheckNotification}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Status_Reason</name>
            <choiceReferences>Current_StatusReason</choiceReferences>
            <choiceReferences>StatusReason_Picklist_Choices_PreWork</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Current_StatusReason</defaultSelectedChoiceReference>
            <fieldText>Update Status Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>btnUpdateStatus</name>
            <extensionName>c:BI_Flow_Custom_Navigation_Model</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Update Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>toastText</name>
                <value>
                    <stringValue>Status Reason Updated</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>buttonUpdateStatus</assignToReference>
                <name>buttonClickFlag</name>
            </outputParameters>
        </fields>
        <fields>
            <name>BI_Lead_Researching</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>BI_Lead_Researching</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txtLinkedIn</name>
            <fieldText>&lt;p&gt;   &lt;a href=&quot;http://linkedin.com/search/results/index?keywords=%20{!Lead.Company}%20{!Lead.FirstName}%20{!Lead.LastName}&quot; target=&quot;_blank&quot;&gt;LinkedIn Search&lt;/a&gt;&lt;/p&gt;&lt;p&gt;   &lt;a href=&quot;http://google.com/search?q=%20{!Lead.Company}%20{!Lead.FirstName}%20{!Lead.LastName}&quot; target=&quot;_blank&quot;&gt;Google&lt;/a&gt;&lt;/p&gt;&lt;p&gt;   &lt;a href=&quot;https://crm.avention.com/search/company?q={!Lead.Company}&quot; target=&quot;_blank&quot;&gt;DnBHoovers&lt;/a&gt; &lt;b style=&quot;color: rgb(221, 16, 16); font-size: 10px;&quot;&gt;(DnB license is required)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BI_Lead_Establish_Contact</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>BI_Lead_Establish_Contact</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmailWarmLead</name>
            <extensionName>c:BI_Flow_Custom_Navigation_Model</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonfloat</name>
                <value>
                    <stringValue>slds-float_left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showDescription</name>
                <value>
                    <stringValue>              Use one of the suggested templates to quickly send the first email to your new lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Send Email (Warm Lead Template)</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>buttonWarmLeadEmail</assignToReference>
                <name>buttonClickFlag</name>
            </outputParameters>
        </fields>
        <fields>
            <name>EmailColdLead</name>
            <extensionName>c:BI_Flow_Custom_Navigation_Model</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Send Email (Cold Lead Template)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonfloat</name>
                <value>
                    <stringValue>slds-float_left</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>buttonColdLeadEmail</assignToReference>
                <name>buttonClickFlag</name>
            </outputParameters>
        </fields>
        <fields>
            <name>BI_Lead_FollowUp</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>BI_Lead_FollowUp</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>FollowUpDate</name>
            <dataType>Date</dataType>
            <fieldText>Set a reminder date for follow-up</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CreateTask</name>
            <extensionName>c:BI_Flow_Custom_Navigation_Model</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Create Task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>toastText</name>
                <value>
                    <elementReference>toastMessageDisplayCreateTask</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>toastType</name>
                <value>
                    <elementReference>toastType</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>buttonFollowUpTask</assignToReference>
                <name>buttonClickFlag</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warm_Lead_EMAIL_SCR</name>
        <label>WARM LEAD EMAIL</label>
        <locationX>741</locationX>
        <locationY>857</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Hot_Email</targetReference>
        </connector>
        <fields>
            <name>LeadOwnerCheckMessage3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(189, 8, 14);&quot;&gt;{!LeadOwnerCheckNotification}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Send_To_Warm</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Lead.Email</elementReference>
            </defaultValue>
            <fieldText>Send To</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Subject_Warm</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Introduction</stringValue>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmailTextWarm_Input</name>
            <extensionName>c:BI_Flow_RichTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>myVal</name>
                <value>
                    <elementReference>WarmLeadTemplate</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>emailTextWarm_Final</assignToReference>
                <name>myVal</name>
            </outputParameters>
        </fields>
        <fields>
            <name>WarmCheckTextTips</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(215, 9, 9); font-size: 12px;&quot;&gt;&lt;i&gt;TIPS&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;~ Take a moment to validate / update your email message. &lt;/i&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;&lt;i&gt;Email signature&lt;/i&gt;&lt;/b&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt; details is based your user record details in BI - you may have to update it before sending the Email&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;~ Remember, emails are sent &apos;FROM&apos; the lead owner (i.e. you)&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SendWarmEmail</name>
            <extensionName>c:BI_Flow_Custom_Navigation_Model</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonNavigation</name>
                <value>
                    <stringValue>BACK</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonLabel2</name>
                <value>
                    <stringValue>Send</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>toastButton</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>toastText</name>
                <value>
                    <stringValue>If no error message is displayed in the PRE-WORK section, your email was sent</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ColdLeadTemplate</name>
        <text>&lt;p&gt;{!Lead.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt; I noticed that {!Lead.Company} doesn&apos;t currently have a corporate program with United Airlines.  We offer a variety of business programs that provide discount savings and/or other perks and traveler amenities, depending upon your travel spend and priorities.  Click &lt;a href=&quot;https://united.canto.com/b/SNAC0&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt; to check out our various business program we offer.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please schedule a quick call with me to learn about exactly how our programs can save your company money and provide your travelers with an enhanced travel experience.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks in advance!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!LeadOwner.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!LeadOwner.Title}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!LeadOwner.Street} | {!LeadOwner.City}, {!LeadOwner.State} {!LeadOwner.PostalCode}  |  {!LeadOwner.Country} &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Tel {!LeadOwner.Phone}  | {!LeadOwner.Email}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;airline.com&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>WarmLeadTemplate</name>
        <text>&lt;p&gt;{!Lead.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you for your inquiry about United’s business programs. I’d like to connect with you to discuss your travel, so that I can help you determine the United business program that will best fit your needs. In the meantime, please provide the following information:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;o	How much do you/your corporation spend on air travel on an annual basis?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;o	Interested in Individual program or Corporate program?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;o	Do you utilize a travel agency?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;o	How do you currently book travel?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;o	Do your travelers mainly fly domestic and/or international?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;o	Which do you do more of: Last minute travel or book in advance?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;o	How often do you change or cancel your flights?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you in advance!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!LeadOwner.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!LeadOwner.Title}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!LeadOwner.Street} | {!LeadOwner.City}, {!LeadOwner.State} {!LeadOwner.PostalCode}  |  {!LeadOwner.Country}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Tel {!LeadOwner.Phone}  | {!LeadOwner.Email} &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;united.com&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>buttonColdLeadEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>buttonFollowUpTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>buttonUpdateStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>buttonWarmLeadEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>emailTextCold_Final</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>emailTextWarm_Final</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Selected_StatusReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>taskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Today</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
