_Source/force-app/main/default/flows/BI_Opportunity_Tactical_Corporate_PRF_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>StageMoveNO</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;No - I will move my opportunity to &apos;Pricing &amp;amp; Deal Modelling&apos; myself&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>StageMoveYES</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Yes - Move my opportunity to &apos;Pricing &amp;amp; Deal&apos; Modeling for me&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Already_Submitted_Check</name>
        <label>Already Submitted Check</label>
        <locationX>201</locationX>
        <locationY>277</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>already_submitted_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.BI_Tactical_Request_Form_Attached__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_for_Pricing_Deal_Modelling</targetReference>
            </connector>
            <label>already submitted true</label>
        </rules>
        <rules>
            <name>already_submitted_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.BI_Tactical_Request_Form_Attached__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Prework &amp; Qualification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Pricing_Deal_Modelling_no_Stage_Update</targetReference>
            </connector>
            <label>already submitted false</label>
        </rules>
        <rules>
            <name>already_submitted_false_in_PreWork</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prework &amp; Qualification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.BI_Tactical_Request_Form_Attached__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Pricing_Deal_Modelling_Stage_Update</targetReference>
            </connector>
            <label>already submitted false in PreWork</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_stage_with_Submit</name>
        <label>Update stage with Submit</label>
        <locationX>827</locationX>
        <locationY>187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_the_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Move_Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>StageMoveYES</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_with_Stage</targetReference>
            </connector>
            <label>Yes - Update the Stage</label>
        </rules>
        <rules>
            <name>No_Dont_update_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Move_Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>StageMoveNO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity</targetReference>
            </connector>
            <label>No - Don&apos;t update Stage</label>
        </rules>
    </decisions>
    <interviewLabel>BI Opportunity - Tactical Corporate PRF Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BI Opportunity - Tactical Corporate PRF Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opptie_that_Launched_FLow</name>
        <label>Get Opptie that Launched FLow</label>
        <locationX>209</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_Submitted_Check</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Opportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BI_Tactical_Request_Form_Attached__c</queriedFields>
        <queriedFields>StageName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>833</locationX>
        <locationY>436</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BI_Tactical_Request_Form_Attached__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_with_Stage</name>
        <label>Update Opportunity with Stage</label>
        <locationX>1092</locationX>
        <locationY>181</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BI_Tactical_Request_Form_Attached__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Pricing &amp; Deal Modeling</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Request_for_Pricing_Deal_Modelling</name>
        <label>Request for Pricing / Deal Modelling</label>
        <locationX>211</locationX>
        <locationY>632</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Already_Submitted_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Your Tactical Request Form was already submitted for this opportunity. Click on the &apos;Proposal Request Forms&apos; tab in your opportunity to view the corresponding submitted PRF that was created for the request.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Request_Pricing_Deal_Modelling_no_Stage_Update</name>
        <label>Request Pricing / Deal Modelling</label>
        <locationX>646</locationX>
        <locationY>576</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Message_Text_4</name>
            <fieldText>&lt;p&gt;TO AVOID DELAYS, BE SURE TO ATTACH THE TACTICAL REQUEST FORM AS PART OF SUBMITTING THIS TACTICAL TO BE WORKED BY THE RELEVANT PRICING TEAM&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;TIP: You can always view your uploaded form / add additional attachments from the &apos;Notes &amp;amp; Attachments&apos; tab within your opportunity&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>opportunityFiles</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attach Tactical Request Form</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>navigation2</name>
            <extensionName>c:BI_Flow_Custom_Navigation_Model</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Submit Request</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>toastText</name>
                <value>
                    <stringValue>Your request was successfully submitted.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_Pricing_Deal_Modelling_Stage_Update</name>
        <label>Request Pricing / Deal Modelling</label>
        <locationX>679</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_stage_with_Submit</targetReference>
        </connector>
        <fields>
            <name>Message_Text_1</name>
            <fieldText>&lt;p&gt;TO AVOID DELAYS, BE SURE TO ATTACH THE TACTICAL REQUEST FORM AS PART OF SUBMITTING THIS TACTICAL TO BE WORKED BY THE RELEVANT PRICING TEAM&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;TIP: You can always view your uploaded form / add additional attachments from the &apos;Notes &amp;amp; Attachments&apos; tab within your opportunity&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OpportunityFiles2</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attach Tactical Request Form</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Message_Text_2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Message_Text_3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;It looks like your opportunity is still in the &apos;Pre-Work &amp;amp; Qualification&apos; stage. BI can update your opportunity stage to &apos;Pricing &amp;amp; Deal Modelling&apos; automatically when you submit this request.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Move_Stage</name>
            <choiceReferences>StageMoveYES</choiceReferences>
            <choiceReferences>StageMoveNO</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>StageMoveYES</defaultSelectedChoiceReference>
            <fieldText>Move Opportunity Stage When Submitting Request?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>navigate1</name>
            <extensionName>c:BI_Flow_Custom_Navigation_Model</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Submit Request</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>toastText</name>
                <value>
                    <stringValue>Your request was successfully submitted.</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opptie_that_Launched_FLow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
