_Source/force-app/main/default/flows/BI_Proposal_Request_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>BI_PRF_Move_To_Submitted_Stage</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Move to Submitted</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>BI_Proposal_Request_Form__c.BI_PRF_Move_To_Submitted_Stage</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Stage is NRC</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>Stage is LOS</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Notification - Stage is Submitted</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_3932185016</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_4_A1_6903644373</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(ISNEW() &amp;&amp; TEXT([BI_Proposal_Request_Form__c].BI_Stage__c)  = &apos;NRC&apos;) ||(TEXT([BI_Proposal_Request_Form__c].BI_Stage__c)  = &apos;NRC&apos; &amp;&amp; ISCHANGED([BI_Proposal_Request_Form__c].BI_Stage__c))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>(ISNEW() &amp;&amp; TEXT({!myVariable_current.BI_Stage__c})  = &apos;NRC&apos;) ||(TEXT({!myVariable_current.BI_Stage__c})  = &apos;NRC&apos; &amp;&amp; ISCHANGED({!myVariable_current.BI_Stage__c}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(ISNEW() &amp;&amp; TEXT([BI_Proposal_Request_Form__c].BI_Stage__c)  = &apos;LOS&apos;) ||(TEXT([BI_Proposal_Request_Form__c].BI_Stage__c)  = &apos;LOS&apos; &amp;&amp; ISCHANGED([BI_Proposal_Request_Form__c].BI_Stage__c))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>(ISNEW() &amp;&amp; TEXT({!myVariable_current.BI_Stage__c})  = &apos;LOS&apos;) ||(TEXT({!myVariable_current.BI_Stage__c})  = &apos;LOS&apos; &amp;&amp; ISCHANGED({!myVariable_current.BI_Stage__c}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(([BI_Proposal_Request_Form__c].BI_Opportunity__c.RecordType.DeveloperName = &apos;BI_Corporate&apos; &amp;&amp;  [BI_Proposal_Request_Form__c].RecordType.DeveloperName = &apos;BI_Corporate_Proposal_Request_Form&apos;) || ([BI_Proposal_Request_Form__c].BI_Opportunity__c.RecordType.DeveloperName = &apos;BI_Global_Contract&apos; &amp;&amp;  [BI_Proposal_Request_Form__c].RecordType.DeveloperName = &apos;BI_Corporate_Proposal_Request_Form&apos;) ||
([BI_Proposal_Request_Form__c].BI_Opportunity__c.RecordType.DeveloperName = &apos;BI_Tactical_Incentive_Pricing&apos; &amp;&amp;  [BI_Proposal_Request_Form__c].RecordType.DeveloperName = &apos;BI_Tactical_Incentive_Proposal_Request_Form&apos;))
&amp;&amp; ((ISNEW() &amp;&amp; 
TEXT([BI_Proposal_Request_Form__c].BI_Stage__c) = &apos;Submitted&apos;) || 
(TEXT([BI_Proposal_Request_Form__c].BI_Stage__c) = &apos;Submitted&apos; &amp;&amp; 
TEXT(PRIORVALUE([BI_Proposal_Request_Form__c].BI_Stage__c )) = &quot;Draft&quot; ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>(({!myVariable_current.BI_Opportunity__r.RecordType.DeveloperName} = &apos;BI_Corporate&apos; &amp;&amp;  {!myVariable_current.RecordType.DeveloperName} = &apos;BI_Corporate_Proposal_Request_Form&apos;) || ({!myVariable_current.BI_Opportunity__r.RecordType.DeveloperName} = &apos;BI_Global_Contract&apos; &amp;&amp;  {!myVariable_current.RecordType.DeveloperName} = &apos;BI_Corporate_Proposal_Request_Form&apos;) ||
({!myVariable_current.BI_Opportunity__r.RecordType.DeveloperName} = &apos;BI_Tactical_Incentive_Pricing&apos; &amp;&amp;  {!myVariable_current.RecordType.DeveloperName} = &apos;BI_Tactical_Incentive_Proposal_Request_Form&apos;))
&amp;&amp; ((ISNEW() &amp;&amp; 
TEXT({!myVariable_current.BI_Stage__c}) = &apos;Submitted&apos;) || 
(TEXT({!myVariable_current.BI_Stage__c}) = &apos;Submitted&apos; &amp;&amp; 
TEXT(PRIORVALUE({!myVariable_current.BI_Stage__c} )) = &quot;Draft&quot; ))</expression>
    </formulas>
    <interviewLabel>BI_Proposal_Request_Form-1_InterviewLabel</interviewLabel>
    <label>Proposal Request Form Notifications</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>BI_Proposal_Request_Form__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BI_Proposal_Request_Form__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Set Stage Last Modified Date - NRC Only</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Stage Last Modified Date - NRC Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BI_Stage_Last_Modified_Date_NRC_Only__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_3932185016</elementReference>
            </value>
        </inputAssignments>
        <object>BI_Proposal_Request_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[BI_Proposal_Request_Form__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>Set Stage Last Modified Date</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Stage Last Modified Date - LOS Only</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BI_Stage_Last_Modified_Date_LOS_Only__c</field>
            <value>
                <elementReference>formula_5_myRule_4_A1_6903644373</elementReference>
            </value>
        </inputAssignments>
        <object>BI_Proposal_Request_Form__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BI_Proposal_Request_Form__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BI_Proposal_Request_Form__c</objectType>
    </variables>
</Flow>
