_Source/force-app/main/default/flows/BI_Update_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>isChangedDecision10_myRule_9_BI_Agency_Contact_c</name>
        <label>isChangedDecision10_myRule_9_BI_Agency_Contact_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>isChangedDecision14_myRule_13_BI_Agency_Contact_c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_10_myRule_9_BI_Agency_Contact_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.BI_Agency_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.BI_Agency_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isChangedDecision14_myRule_13_BI_Agency_Contact_c</targetReference>
            </connector>
            <label>isChangedRule_10_myRule_9_BI_Agency_Contact_c</label>
        </rules>
    </decisions>
    <decisions>
        <name>isChangedDecision14_myRule_13_BI_Agency_Contact_c</name>
        <label>isChangedDecision14_myRule_13_BI_Agency_Contact_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_14_myRule_13_BI_Agency_Contact_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.BI_Agency_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.BI_Agency_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>isChangedRule_14_myRule_13_BI_Agency_Contact_c</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Round Robin Lead Candidate</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.BI_Agency_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_14_myRule_13_BI_Agency_Contact_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Agency Contact is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Update Address Country From Picklist if Blank</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision5</name>
        <label>myDecision5</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>Check the Status Changed</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.BI_Agency_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_10_myRule_9_BI_Agency_Contact_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Agency Contact Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision2</targetReference>
            </connector>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Lead].BI_Agency_Contact__c.Account.SIP_ARC_Number__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_9_A1_6590279952</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.BI_Agency_Contact__r.Account.SIP_ARC_Number__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TEXT([Lead].SIP_Country__c ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_3_A1_7583023641</name>
        <dataType>String</dataType>
        <expression>TEXT({!myVariable_current.SIP_Country__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_6_A1_0235655530</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(ISNEW()  || ISCHANGED([Lead].Country)) &amp;&amp; 
(
CONTAINS(UPPER([Lead].Country), &quot;US&quot;) ||
CONTAINS(UPPER([Lead].Country), &quot;U.S&quot;) ||
CONTAINS(UPPER([Lead].Country), &quot;UNITED STATES&quot;) ||
CONTAINS(UPPER([Lead].Country), &quot;AMERICA&quot;)    ||
(ISBLANK([Lead].Country) &amp;&amp; (CONTAINS(UPPER(Text([Lead].SIP_Country__c)),&quot;US&quot;) ||
CONTAINS(UPPER(Text([Lead].SIP_Country__c)),&quot;U.S&quot;) || 
CONTAINS(UPPER(Text([Lead].SIP_Country__c)),&quot;UNITED STATES&quot;) ||
CONTAINS(UPPER(Text([Lead].SIP_Country__c)),&quot;AMERICA&quot;)||
((ISBLANK(Text([Lead].SIP_Country__c))) &amp;&amp; (([Lead].State &lt;&gt; &quot;ON&quot;) &amp;&amp; (NOT(CONTAINS([Lead].State,&quot;Ontario&quot;))) &amp;&amp; ([Lead].State &lt;&gt; &quot;QC&quot;) &amp;&amp; (NOT(CONTAINS([Lead].State,&quot;Quebec&quot;))) &amp;&amp; ([Lead].State &lt;&gt; &quot;NS&quot;) &amp;&amp; (NOT(CONTAINS([Lead].State,&quot;Nova S&quot;))) &amp;&amp; ([Lead].State &lt;&gt; &quot;NB&quot;) &amp;&amp; (NOT(CONTAINS([Lead].State,&quot;New Bruns&quot;))) &amp;&amp; ([Lead].State &lt;&gt; &quot;MB&quot;) &amp;&amp; (NOT(CONTAINS([Lead].State,&quot;Manitoba&quot;))) &amp;&amp; ([Lead].State &lt;&gt; &quot;OBC&quot;) &amp;&amp; (NOT(CONTAINS([Lead].State,&quot;British Colum&quot;))) &amp;&amp; ([Lead].State &lt;&gt; &quot;PE&quot;) &amp;&amp; (NOT(CONTAINS([Lead].State,&quot;Prince Edward&quot;))) &amp;&amp; ([Lead].State &lt;&gt; &quot;SK&quot;) &amp;&amp; (NOT(CONTAINS([Lead].State,&quot;Saskatchewan&quot;))) &amp;&amp; ([Lead].State &lt;&gt; &quot;AB&quot;) &amp;&amp; (NOT(CONTAINS([Lead].State,&quot;Alberta&quot;))) &amp;&amp; ([Lead].State &lt;&gt; &quot;NL&quot;) &amp;&amp; (NOT(CONTAINS([Lead].State,&quot;Newfoundland&quot;)))) ))
) ||
(ISBLANK([Lead].Country) &amp;&amp; ISBLANK([Lead].State) &amp;&amp; ISBLANK(Text([Lead].SIP_Country__c)))
) &amp;&amp;
( ISBLANK([Lead].BI_Round_Robin_ID__c) )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>(ISNEW()  || ISCHANGED({!myVariable_current.Country})) &amp;&amp; 
(
CONTAINS(UPPER({!myVariable_current.Country}), &quot;US&quot;) ||
CONTAINS(UPPER({!myVariable_current.Country}), &quot;U.S&quot;) ||
CONTAINS(UPPER({!myVariable_current.Country}), &quot;UNITED STATES&quot;) ||
CONTAINS(UPPER({!myVariable_current.Country}), &quot;AMERICA&quot;)    ||
(ISBLANK({!myVariable_current.Country}) &amp;&amp; (CONTAINS(UPPER(Text({!myVariable_current.SIP_Country__c})),&quot;US&quot;) ||
CONTAINS(UPPER(Text({!myVariable_current.SIP_Country__c})),&quot;U.S&quot;) || 
CONTAINS(UPPER(Text({!myVariable_current.SIP_Country__c})),&quot;UNITED STATES&quot;) ||
CONTAINS(UPPER(Text({!myVariable_current.SIP_Country__c})),&quot;AMERICA&quot;)||
((ISBLANK(Text({!myVariable_current.SIP_Country__c}))) &amp;&amp; (({!myVariable_current.State} &lt;&gt; &quot;ON&quot;) &amp;&amp; (NOT(CONTAINS({!myVariable_current.State},&quot;Ontario&quot;))) &amp;&amp; ({!myVariable_current.State} &lt;&gt; &quot;QC&quot;) &amp;&amp; (NOT(CONTAINS({!myVariable_current.State},&quot;Quebec&quot;))) &amp;&amp; ({!myVariable_current.State} &lt;&gt; &quot;NS&quot;) &amp;&amp; (NOT(CONTAINS({!myVariable_current.State},&quot;Nova S&quot;))) &amp;&amp; ({!myVariable_current.State} &lt;&gt; &quot;NB&quot;) &amp;&amp; (NOT(CONTAINS({!myVariable_current.State},&quot;New Bruns&quot;))) &amp;&amp; ({!myVariable_current.State} &lt;&gt; &quot;MB&quot;) &amp;&amp; (NOT(CONTAINS({!myVariable_current.State},&quot;Manitoba&quot;))) &amp;&amp; ({!myVariable_current.State} &lt;&gt; &quot;OBC&quot;) &amp;&amp; (NOT(CONTAINS({!myVariable_current.State},&quot;British Colum&quot;))) &amp;&amp; ({!myVariable_current.State} &lt;&gt; &quot;PE&quot;) &amp;&amp; (NOT(CONTAINS({!myVariable_current.State},&quot;Prince Edward&quot;))) &amp;&amp; ({!myVariable_current.State} &lt;&gt; &quot;SK&quot;) &amp;&amp; (NOT(CONTAINS({!myVariable_current.State},&quot;Saskatchewan&quot;))) &amp;&amp; ({!myVariable_current.State} &lt;&gt; &quot;AB&quot;) &amp;&amp; (NOT(CONTAINS({!myVariable_current.State},&quot;Alberta&quot;))) &amp;&amp; ({!myVariable_current.State} &lt;&gt; &quot;NL&quot;) &amp;&amp; (NOT(CONTAINS({!myVariable_current.State},&quot;Newfoundland&quot;)))) ))
) ||
(ISBLANK({!myVariable_current.Country}) &amp;&amp; ISBLANK({!myVariable_current.State}) &amp;&amp; ISBLANK(Text({!myVariable_current.SIP_Country__c})))
) &amp;&amp;
( ISBLANK({!myVariable_current.BI_Round_Robin_ID__c}) )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(ISNEW()  || ISCHANGED([Lead].Country)) &amp;&amp; 
(
CONTAINS(UPPER([Lead].Country), &quot;US&quot;) ||
CONTAINS(UPPER([Lead].Country), &quot;U.S&quot;) ||
CONTAINS(UPPER([Lead].Country), &quot;UNITED STATES&quot;) ||
CONTAINS(UPPER([Lead].Country), &quot;AMERICA&quot;)    ||
(ISBLANK([Lead].Country) &amp;&amp; (CONTAINS(UPPER(Text([Lead].SIP_Country__c)),&quot;US&quot;) ||
CONTAINS(UPPER(Text([Lead].SIP_Country__c)),&quot;U.S&quot;) || 
CONTAINS(UPPER(Text([Lead].SIP_Country__c)),&quot;UNITED STATES&quot;) ||
CONTAINS(UPPER(Text([Lead].SIP_Country__c)),&quot;AMERICA&quot;)||
((ISBLANK(Text([Lead].SIP_Country__c))) &amp;&amp; (([Lead].State &lt;&gt; &quot;ON&quot;) &amp;&amp; (NOT(CONTAINS([Lead].State,&quot;Ontario&quot;))) &amp;&amp; ([Lead].State &lt;&gt; &quot;QC&quot;) &amp;&amp; (NOT(CONTAINS([Lead].State,&quot;Quebec&quot;))) &amp;&amp; ([Lead].State &lt;&gt; &quot;NS&quot;) &amp;&amp; (NOT(CONTAINS([Lead].State,&quot;Nova S&quot;))) &amp;&amp; ([Lead].State &lt;&gt; &quot;NB&quot;) &amp;&amp; (NOT(CONTAINS([Lead].State,&quot;New Bruns&quot;))) &amp;&amp; ([Lead].State &lt;&gt; &quot;MB&quot;) &amp;&amp; (NOT(CONTAINS([Lead].State,&quot;Manitoba&quot;))) &amp;&amp; ([Lead].State &lt;&gt; &quot;OBC&quot;) &amp;&amp; (NOT(CONTAINS([Lead].State,&quot;British Colum&quot;))) &amp;&amp; ([Lead].State &lt;&gt; &quot;PE&quot;) &amp;&amp; (NOT(CONTAINS([Lead].State,&quot;Prince Edward&quot;))) &amp;&amp; ([Lead].State &lt;&gt; &quot;SK&quot;) &amp;&amp; (NOT(CONTAINS([Lead].State,&quot;Saskatchewan&quot;))) &amp;&amp; ([Lead].State &lt;&gt; &quot;AB&quot;) &amp;&amp; (NOT(CONTAINS([Lead].State,&quot;Alberta&quot;))) &amp;&amp; ([Lead].State &lt;&gt; &quot;NL&quot;) &amp;&amp; (NOT(CONTAINS([Lead].State,&quot;Newfoundland&quot;)))) ))
) ||
(ISBLANK([Lead].Country) &amp;&amp; ISBLANK([Lead].State) &amp;&amp; ISBLANK(Text([Lead].SIP_Country__c)))
) &amp;&amp;
( ISBLANK([Lead].BI_Round_Robin_ID__c) )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>(ISNEW()  || ISCHANGED({!myVariable_old.Country})) &amp;&amp; 
(
CONTAINS(UPPER({!myVariable_old.Country}), &quot;US&quot;) ||
CONTAINS(UPPER({!myVariable_old.Country}), &quot;U.S&quot;) ||
CONTAINS(UPPER({!myVariable_old.Country}), &quot;UNITED STATES&quot;) ||
CONTAINS(UPPER({!myVariable_old.Country}), &quot;AMERICA&quot;)    ||
(ISBLANK({!myVariable_old.Country}) &amp;&amp; (CONTAINS(UPPER(Text({!myVariable_old.SIP_Country__c})),&quot;US&quot;) ||
CONTAINS(UPPER(Text({!myVariable_old.SIP_Country__c})),&quot;U.S&quot;) || 
CONTAINS(UPPER(Text({!myVariable_old.SIP_Country__c})),&quot;UNITED STATES&quot;) ||
CONTAINS(UPPER(Text({!myVariable_old.SIP_Country__c})),&quot;AMERICA&quot;)||
((ISBLANK(Text({!myVariable_old.SIP_Country__c}))) &amp;&amp; (({!myVariable_old.State} &lt;&gt; &quot;ON&quot;) &amp;&amp; (NOT(CONTAINS({!myVariable_old.State},&quot;Ontario&quot;))) &amp;&amp; ({!myVariable_old.State} &lt;&gt; &quot;QC&quot;) &amp;&amp; (NOT(CONTAINS({!myVariable_old.State},&quot;Quebec&quot;))) &amp;&amp; ({!myVariable_old.State} &lt;&gt; &quot;NS&quot;) &amp;&amp; (NOT(CONTAINS({!myVariable_old.State},&quot;Nova S&quot;))) &amp;&amp; ({!myVariable_old.State} &lt;&gt; &quot;NB&quot;) &amp;&amp; (NOT(CONTAINS({!myVariable_old.State},&quot;New Bruns&quot;))) &amp;&amp; ({!myVariable_old.State} &lt;&gt; &quot;MB&quot;) &amp;&amp; (NOT(CONTAINS({!myVariable_old.State},&quot;Manitoba&quot;))) &amp;&amp; ({!myVariable_old.State} &lt;&gt; &quot;OBC&quot;) &amp;&amp; (NOT(CONTAINS({!myVariable_old.State},&quot;British Colum&quot;))) &amp;&amp; ({!myVariable_old.State} &lt;&gt; &quot;PE&quot;) &amp;&amp; (NOT(CONTAINS({!myVariable_old.State},&quot;Prince Edward&quot;))) &amp;&amp; ({!myVariable_old.State} &lt;&gt; &quot;SK&quot;) &amp;&amp; (NOT(CONTAINS({!myVariable_old.State},&quot;Saskatchewan&quot;))) &amp;&amp; ({!myVariable_old.State} &lt;&gt; &quot;AB&quot;) &amp;&amp; (NOT(CONTAINS({!myVariable_old.State},&quot;Alberta&quot;))) &amp;&amp; ({!myVariable_old.State} &lt;&gt; &quot;NL&quot;) &amp;&amp; (NOT(CONTAINS({!myVariable_old.State},&quot;Newfoundland&quot;)))) ))
) ||
(ISBLANK({!myVariable_old.Country}) &amp;&amp; ISBLANK({!myVariable_old.State}) &amp;&amp; ISBLANK(Text({!myVariable_old.SIP_Country__c})))
) &amp;&amp;
( ISBLANK({!myVariable_old.BI_Round_Robin_ID__c}) )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISBLANK([Lead].Country )  &amp;&amp; NOT(ISBLANK(TEXT([Lead].SIP_Country__c)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!myVariable_current.Country} )  &amp;&amp; NOT(ISBLANK(TEXT({!myVariable_current.SIP_Country__c})))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISCHANGED([Lead].Status ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_6</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!myVariable_current.Status} )</expression>
    </formulas>
    <interviewLabel>BI_Update_Lead-9_InterviewLabel</interviewLabel>
    <label>Update Lead</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_1_A1</name>
        <label>Create a Lead Number</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>BI_Lead__c</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BI_Lead_Number__c</object>
    </recordCreates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Update ARC/IATA Number to Blank</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>IATA/ ARC Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>SIP_IATA_ARC_Number__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Update Address Country with Picklist Country found</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision5</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Country</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Country</field>
            <value>
                <elementReference>formula_4_myRule_3_A1_7583023641</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_6_A1</name>
        <label>Update the Status Last Modified date to Now</label>
        <locationX>600</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision8</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status Last Modified Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>BI_Status_Last_Modified_Date__c</field>
            <value>
                <elementReference>formula_7_myRule_6_A1_0235655530</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Lead]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Update ARC/IATA Number</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>IATA/ ARC Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>SIP_IATA_ARC_Number__c</field>
            <value>
                <elementReference>formula_11_myRule_9_A1_6590279952</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>isChangedDecision10_myRule_9_BI_Agency_Contact_c</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
