_Source/force-app/main/default/flows/Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>process</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Case - Initiating Process - CSST</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Launch</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <actionName>BI_Case_Initiating_Process_CSST</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>SObject</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>process</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Case - Initiating Process - PnP</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Launch</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <actionName>BI_Case_Initiating_Process_PnP</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>SObject</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>process</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Case - Initiating Process - Pass</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>Launch</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <actionName>BI_Case_Initiating_Process_Pass</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>SObject</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>process</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Case - Initiating Process - Meetings</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_17_A1</name>
        <label>Launch</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <actionName>BI_Case_Initiating_Process_Meetings</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>SObject</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>process</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Case - Initiating Process - BI</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_19_A1</name>
        <label>Launch</label>
        <locationX>1900</locationX>
        <locationY>200</locationY>
        <actionName>BI_Case_Initiating_Process_BI</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>SObject</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>BI_CasesInvokeAssignmentRules</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Assign to Queue</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>BI_CasesInvokeAssignmentRules</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CaseIds</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue/>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>CaseIds</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>process</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Case - Initiating Process - Government</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Launch</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>BI_Case_Initiating_Process_Government</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>SObject</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>process</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Case - Initiating Process - UCD</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Launch</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>BI_Case_Initiating_Process_UCD</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>SObject</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>process</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Case - Initiating Process - Entertainment</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Launch</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>BI_Case_Initiating_Process_Entertainment</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>SObject</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>process</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Case - Initiating Process - AMEX</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Launch</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>BI_Case_Initiating_Process_AMEX</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>SObject</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Queue Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>CSST</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>PnP</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>Pass</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>Meetings</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision18</name>
        <label>myDecision18</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_19</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>BI</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Government Queue</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Corporate Direct</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Entertainment</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>AMEX</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(NOT(ISNULL([Case].BI_Vanity_Mailbox_Source__c   )) &amp;&amp; ISNULL(PRIORVALUE([Case].BI_Vanity_Mailbox_Source__c)) &amp;&amp; (

[Case].RecordType.DeveloperName = &apos;Business_Insight_Case_Release&apos; ||
[Case].RecordType.DeveloperName = &apos;Business_Insight_Case&apos; ||
[Case].RecordType.DeveloperName = &apos;Post_Travel&apos; ||
[Case].RecordType.DeveloperName = &apos;Pre_Travel&apos; ||
[Case].RecordType.DeveloperName = &apos;Product&apos; 
) &amp;&amp;

CONTAINS(TEXT([Case].Status ) , &apos;New&apos;) ) ||

(ISNEW() &amp;&amp; NOT(ISNULL(TEXT([Case].BI_Area_of_Support__c)   )) &amp;&amp; (

[Case].RecordType.DeveloperName = &apos;Business_Insight_Case_Release&apos; ||
[Case].RecordType.DeveloperName = &apos;Business_Insight_Case&apos; ||
[Case].RecordType.DeveloperName = &apos;Post_Travel&apos; ||
[Case].RecordType.DeveloperName = &apos;Pre_Travel&apos; ||
[Case].RecordType.DeveloperName = &apos;Product&apos; 
) &amp;&amp;

CONTAINS(TEXT([Case].Status ) , &apos;New&apos;) ) ||

ISCHANGED([Case].BI_Area_of_Support__c) &amp;&amp; BEGINS([Case].OwnerId , &apos;00G&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>(NOT(ISNULL({!myVariable_current.BI_Vanity_Mailbox_Source__c}   )) &amp;&amp; ISNULL(PRIORVALUE({!myVariable_current.BI_Vanity_Mailbox_Source__c})) &amp;&amp; (

{!myVariable_current.RecordType.DeveloperName} = &apos;Business_Insight_Case_Release&apos; ||
{!myVariable_current.RecordType.DeveloperName} = &apos;Business_Insight_Case&apos; ||
{!myVariable_current.RecordType.DeveloperName} = &apos;Post_Travel&apos; ||
{!myVariable_current.RecordType.DeveloperName} = &apos;Pre_Travel&apos; ||
{!myVariable_current.RecordType.DeveloperName} = &apos;Product&apos; 
) &amp;&amp;

CONTAINS(TEXT({!myVariable_current.Status} ) , &apos;New&apos;) ) ||

(ISNEW() &amp;&amp; NOT(ISNULL(TEXT({!myVariable_current.BI_Area_of_Support__c})   )) &amp;&amp; (

{!myVariable_current.RecordType.DeveloperName} = &apos;Business_Insight_Case_Release&apos; ||
{!myVariable_current.RecordType.DeveloperName} = &apos;Business_Insight_Case&apos; ||
{!myVariable_current.RecordType.DeveloperName} = &apos;Post_Travel&apos; ||
{!myVariable_current.RecordType.DeveloperName} = &apos;Pre_Travel&apos; ||
{!myVariable_current.RecordType.DeveloperName} = &apos;Product&apos; 
) &amp;&amp;

CONTAINS(TEXT({!myVariable_current.Status} ) , &apos;New&apos;) ) ||

ISCHANGED({!myVariable_current.BI_Area_of_Support__c}) &amp;&amp; BEGINS({!myVariable_current.OwnerId} , &apos;00G&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(CONTAINS([Case].BI_Vanity_Mailbox_Source__c , &apos;centralsalessupport@united.com&apos;) || ISPICKVAL([Case].BI_Area_of_Support__c, &apos;Central Sales Support&apos;))  &amp;&amp;
(

(CONTAINS(Text([Case].Status), &apos;New&apos;) &amp;&amp; (TEXT( [Case].BI_Auto_Notification_New__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp; (TEXT( [Case].BI_Auto_Notification_New__c) &lt;&gt; &apos;&apos;) &amp;&amp;  
([Case].BI_New_Notification_Sent_Ext__c = False || [Case].BI_New_Notification_Sent_Int__c == False)) ||

(ISCHANGED([Case].Status ) &amp;&amp; 
CONTAINS(Text([Case].Status), &apos;In Progress&apos;) &amp;&amp; 
(TEXT([Case].BI_Auto_Notification_In_Progress__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT([Case].BI_Auto_Notification_In_Progress__c) &lt;&gt; &apos;&apos;)  &amp;&amp;
([Case].BI_In_Progress_Notification_Sent_Ext__c = False || [Case].BI_In_Progress_Notification_Sent_Int__c  = False)) ||

(ISCHANGED([Case].Status ) &amp;&amp; 
CONTAINS(Text([Case].Status), &apos;Closed&apos;) &amp;&amp; 
(TEXT([Case].BI_Auto_Notification_Closed__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT([Case].BI_Auto_Notification_Closed__c) &lt;&gt; &apos;&apos;)  &amp;&amp;
([Case].BI_Closed_Notification_Sent_Ext__c = False || [Case].BI_Closed_Notification_Sent_Int__c = False))



)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>(CONTAINS({!myVariable_current.BI_Vanity_Mailbox_Source__c} , &apos;centralsalessupport@united.com&apos;) || ISPICKVAL({!myVariable_current.BI_Area_of_Support__c}, &apos;Central Sales Support&apos;))  &amp;&amp;
(

(CONTAINS(Text({!myVariable_current.Status}), &apos;New&apos;) &amp;&amp; (TEXT( {!myVariable_current.BI_Auto_Notification_New__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp; (TEXT( {!myVariable_current.BI_Auto_Notification_New__c}) &lt;&gt; &apos;&apos;) &amp;&amp;  
({!myVariable_current.BI_New_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_New_Notification_Sent_Int__c} == False)) ||

(ISCHANGED({!myVariable_current.Status} ) &amp;&amp; 
CONTAINS(Text({!myVariable_current.Status}), &apos;In Progress&apos;) &amp;&amp; 
(TEXT({!myVariable_current.BI_Auto_Notification_In_Progress__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT({!myVariable_current.BI_Auto_Notification_In_Progress__c}) &lt;&gt; &apos;&apos;)  &amp;&amp;
({!myVariable_current.BI_In_Progress_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_In_Progress_Notification_Sent_Int__c}  = False)) ||

(ISCHANGED({!myVariable_current.Status} ) &amp;&amp; 
CONTAINS(Text({!myVariable_current.Status}), &apos;Closed&apos;) &amp;&amp; 
(TEXT({!myVariable_current.BI_Auto_Notification_Closed__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT({!myVariable_current.BI_Auto_Notification_Closed__c}) &lt;&gt; &apos;&apos;)  &amp;&amp;
({!myVariable_current.BI_Closed_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_Closed_Notification_Sent_Int__c} = False))



)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(CONTAINS([Case].BI_Vanity_Mailbox_Source__c , &apos;uasalessupport@united.com&apos;) || ISPICKVAL([Case].BI_Area_of_Support__c, &apos;Policy &amp; Procedure&apos;))  &amp;&amp;
(

(CONTAINS(Text([Case].Status), &apos;New&apos;) &amp;&amp; (TEXT( [Case].BI_Auto_Notification_New__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp; (TEXT( [Case].BI_Auto_Notification_New__c) &lt;&gt; &apos;&apos;) &amp;&amp;  
([Case].BI_New_Notification_Sent_Ext__c = False || [Case].BI_New_Notification_Sent_Int__c == False)) ||

(ISCHANGED([Case].Status ) &amp;&amp; 
CONTAINS(Text([Case].Status), &apos;In Progress&apos;) &amp;&amp; 
(TEXT([Case].BI_Auto_Notification_In_Progress__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT([Case].BI_Auto_Notification_In_Progress__c) &lt;&gt; &apos;&apos;)  &amp;&amp;
([Case].BI_In_Progress_Notification_Sent_Ext__c = False || [Case].BI_In_Progress_Notification_Sent_Int__c  = False)) ||

(ISCHANGED([Case].Status ) &amp;&amp; 
CONTAINS(Text([Case].Status), &apos;Closed&apos;) &amp;&amp; 
(TEXT([Case].BI_Auto_Notification_Closed__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT([Case].BI_Auto_Notification_Closed__c) &lt;&gt; &apos;&apos;)  &amp;&amp;
([Case].BI_Closed_Notification_Sent_Ext__c = False || [Case].BI_Closed_Notification_Sent_Int__c = False))



)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>(CONTAINS({!myVariable_current.BI_Vanity_Mailbox_Source__c} , &apos;uasalessupport@united.com&apos;) || ISPICKVAL({!myVariable_current.BI_Area_of_Support__c}, &apos;Policy &amp; Procedure&apos;))  &amp;&amp;
(

(CONTAINS(Text({!myVariable_current.Status}), &apos;New&apos;) &amp;&amp; (TEXT( {!myVariable_current.BI_Auto_Notification_New__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp; (TEXT( {!myVariable_current.BI_Auto_Notification_New__c}) &lt;&gt; &apos;&apos;) &amp;&amp;  
({!myVariable_current.BI_New_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_New_Notification_Sent_Int__c} == False)) ||

(ISCHANGED({!myVariable_current.Status} ) &amp;&amp; 
CONTAINS(Text({!myVariable_current.Status}), &apos;In Progress&apos;) &amp;&amp; 
(TEXT({!myVariable_current.BI_Auto_Notification_In_Progress__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT({!myVariable_current.BI_Auto_Notification_In_Progress__c}) &lt;&gt; &apos;&apos;)  &amp;&amp;
({!myVariable_current.BI_In_Progress_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_In_Progress_Notification_Sent_Int__c}  = False)) ||

(ISCHANGED({!myVariable_current.Status} ) &amp;&amp; 
CONTAINS(Text({!myVariable_current.Status}), &apos;Closed&apos;) &amp;&amp; 
(TEXT({!myVariable_current.BI_Auto_Notification_Closed__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT({!myVariable_current.BI_Auto_Notification_Closed__c}) &lt;&gt; &apos;&apos;)  &amp;&amp;
({!myVariable_current.BI_Closed_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_Closed_Notification_Sent_Int__c} = False))



)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(CONTAINS([Case].BI_Vanity_Mailbox_Source__c , &apos;passplussupport@united.com&apos;) || ISPICKVAL([Case].BI_Area_of_Support__c, &apos;United PassPlus&apos;))  &amp;&amp;
(

(CONTAINS(Text([Case].Status), &apos;New&apos;) &amp;&amp; (TEXT( [Case].BI_Auto_Notification_New__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp; (TEXT( [Case].BI_Auto_Notification_New__c) &lt;&gt; &apos;&apos;) &amp;&amp;  
([Case].BI_New_Notification_Sent_Ext__c = False || [Case].BI_New_Notification_Sent_Int__c == False)) ||

(ISCHANGED([Case].Status ) &amp;&amp; 
CONTAINS(Text([Case].Status), &apos;In Progress&apos;) &amp;&amp; 
(TEXT([Case].BI_Auto_Notification_In_Progress__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT([Case].BI_Auto_Notification_In_Progress__c) &lt;&gt; &apos;&apos;)  &amp;&amp;
([Case].BI_In_Progress_Notification_Sent_Ext__c = False || [Case].BI_In_Progress_Notification_Sent_Int__c  = False)) ||

(ISCHANGED([Case].Status ) &amp;&amp; 
CONTAINS(Text([Case].Status), &apos;Closed&apos;) &amp;&amp; 
(TEXT([Case].BI_Auto_Notification_Closed__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT([Case].BI_Auto_Notification_Closed__c) &lt;&gt; &apos;&apos;)  &amp;&amp;
([Case].BI_Closed_Notification_Sent_Ext__c = False || [Case].BI_Closed_Notification_Sent_Int__c = False))



)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>(CONTAINS({!myVariable_current.BI_Vanity_Mailbox_Source__c} , &apos;passplussupport@united.com&apos;) || ISPICKVAL({!myVariable_current.BI_Area_of_Support__c}, &apos;United PassPlus&apos;))  &amp;&amp;
(

(CONTAINS(Text({!myVariable_current.Status}), &apos;New&apos;) &amp;&amp; (TEXT( {!myVariable_current.BI_Auto_Notification_New__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp; (TEXT( {!myVariable_current.BI_Auto_Notification_New__c}) &lt;&gt; &apos;&apos;) &amp;&amp;  
({!myVariable_current.BI_New_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_New_Notification_Sent_Int__c} == False)) ||

(ISCHANGED({!myVariable_current.Status} ) &amp;&amp; 
CONTAINS(Text({!myVariable_current.Status}), &apos;In Progress&apos;) &amp;&amp; 
(TEXT({!myVariable_current.BI_Auto_Notification_In_Progress__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT({!myVariable_current.BI_Auto_Notification_In_Progress__c}) &lt;&gt; &apos;&apos;)  &amp;&amp;
({!myVariable_current.BI_In_Progress_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_In_Progress_Notification_Sent_Int__c}  = False)) ||

(ISCHANGED({!myVariable_current.Status} ) &amp;&amp; 
CONTAINS(Text({!myVariable_current.Status}), &apos;Closed&apos;) &amp;&amp; 
(TEXT({!myVariable_current.BI_Auto_Notification_Closed__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT({!myVariable_current.BI_Auto_Notification_Closed__c}) &lt;&gt; &apos;&apos;)  &amp;&amp;
({!myVariable_current.BI_Closed_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_Closed_Notification_Sent_Int__c} = False))



)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(CONTAINS([Case].BI_Vanity_Mailbox_Source__c , &apos;meetings@united.com&apos;) || ISPICKVAL([Case].BI_Area_of_Support__c, &apos;United Meetings&apos;))  &amp;&amp;
(

(CONTAINS(Text([Case].Status), &apos;New&apos;) &amp;&amp; (TEXT( [Case].BI_Auto_Notification_New__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp; (TEXT( [Case].BI_Auto_Notification_New__c) &lt;&gt; &apos;&apos;) &amp;&amp;  
([Case].BI_New_Notification_Sent_Ext__c = False || [Case].BI_New_Notification_Sent_Int__c == False)) ||

(ISCHANGED([Case].Status ) &amp;&amp; 
CONTAINS(Text([Case].Status), &apos;In Progress&apos;) &amp;&amp; 
(TEXT([Case].BI_Auto_Notification_In_Progress__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT([Case].BI_Auto_Notification_In_Progress__c) &lt;&gt; &apos;&apos;)  &amp;&amp;
([Case].BI_In_Progress_Notification_Sent_Ext__c = False || [Case].BI_In_Progress_Notification_Sent_Int__c  = False)) ||

(ISCHANGED([Case].Status ) &amp;&amp; 
CONTAINS(Text([Case].Status), &apos;Closed&apos;) &amp;&amp; 
(TEXT([Case].BI_Auto_Notification_Closed__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT([Case].BI_Auto_Notification_Closed__c) &lt;&gt; &apos;&apos;)  &amp;&amp;
([Case].BI_Closed_Notification_Sent_Ext__c = False || [Case].BI_Closed_Notification_Sent_Int__c = False))



)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17</name>
        <dataType>Boolean</dataType>
        <expression>(CONTAINS({!myVariable_current.BI_Vanity_Mailbox_Source__c} , &apos;meetings@united.com&apos;) || ISPICKVAL({!myVariable_current.BI_Area_of_Support__c}, &apos;United Meetings&apos;))  &amp;&amp;
(

(CONTAINS(Text({!myVariable_current.Status}), &apos;New&apos;) &amp;&amp; (TEXT( {!myVariable_current.BI_Auto_Notification_New__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp; (TEXT( {!myVariable_current.BI_Auto_Notification_New__c}) &lt;&gt; &apos;&apos;) &amp;&amp;  
({!myVariable_current.BI_New_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_New_Notification_Sent_Int__c} == False)) ||

(ISCHANGED({!myVariable_current.Status} ) &amp;&amp; 
CONTAINS(Text({!myVariable_current.Status}), &apos;In Progress&apos;) &amp;&amp; 
(TEXT({!myVariable_current.BI_Auto_Notification_In_Progress__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT({!myVariable_current.BI_Auto_Notification_In_Progress__c}) &lt;&gt; &apos;&apos;)  &amp;&amp;
({!myVariable_current.BI_In_Progress_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_In_Progress_Notification_Sent_Int__c}  = False)) ||

(ISCHANGED({!myVariable_current.Status} ) &amp;&amp; 
CONTAINS(Text({!myVariable_current.Status}), &apos;Closed&apos;) &amp;&amp; 
(TEXT({!myVariable_current.BI_Auto_Notification_Closed__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT({!myVariable_current.BI_Auto_Notification_Closed__c}) &lt;&gt; &apos;&apos;)  &amp;&amp;
({!myVariable_current.BI_Closed_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_Closed_Notification_Sent_Int__c} = False))



)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(CONTAINS([Case].BI_Vanity_Mailbox_Source__c , &apos;businessinsight@united.com&apos;) || ISPICKVAL([Case].BI_Area_of_Support__c, &apos;Business Insight&apos;) || CONTAINS([Case].RecordType.DeveloperName, &apos;Business&apos;))  &amp;&amp;
(

(CONTAINS(Text([Case].Status), &apos;New&apos;) &amp;&amp; (TEXT( [Case].BI_Auto_Notification_New__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp; (TEXT( [Case].BI_Auto_Notification_New__c) &lt;&gt; &apos;&apos;) &amp;&amp;  
([Case].BI_New_Notification_Sent_Ext__c = False || [Case].BI_New_Notification_Sent_Int__c == False)) ||

(ISCHANGED([Case].Status ) &amp;&amp; 
CONTAINS(Text([Case].Status), &apos;In Progress&apos;) &amp;&amp; 
(TEXT([Case].BI_Auto_Notification_In_Progress__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT([Case].BI_Auto_Notification_In_Progress__c) &lt;&gt; &apos;&apos;)  &amp;&amp;
([Case].BI_In_Progress_Notification_Sent_Ext__c = False || [Case].BI_In_Progress_Notification_Sent_Int__c  = False)) ||

(ISCHANGED([Case].Status ) &amp;&amp; 
CONTAINS(Text([Case].Status), &apos;Closed&apos;) &amp;&amp; 
(TEXT([Case].BI_Auto_Notification_Closed__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT([Case].BI_Auto_Notification_Closed__c) &lt;&gt; &apos;&apos;)  &amp;&amp;
([Case].BI_Closed_Notification_Sent_Ext__c = False || [Case].BI_Closed_Notification_Sent_Int__c = False))



)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_19</name>
        <dataType>Boolean</dataType>
        <expression>(CONTAINS({!myVariable_current.BI_Vanity_Mailbox_Source__c} , &apos;businessinsight@united.com&apos;) || ISPICKVAL({!myVariable_current.BI_Area_of_Support__c}, &apos;Business Insight&apos;) || CONTAINS({!myVariable_current.RecordType.DeveloperName}, &apos;Business&apos;))  &amp;&amp;
(

(CONTAINS(Text({!myVariable_current.Status}), &apos;New&apos;) &amp;&amp; (TEXT( {!myVariable_current.BI_Auto_Notification_New__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp; (TEXT( {!myVariable_current.BI_Auto_Notification_New__c}) &lt;&gt; &apos;&apos;) &amp;&amp;  
({!myVariable_current.BI_New_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_New_Notification_Sent_Int__c} == False)) ||

(ISCHANGED({!myVariable_current.Status} ) &amp;&amp; 
CONTAINS(Text({!myVariable_current.Status}), &apos;In Progress&apos;) &amp;&amp; 
(TEXT({!myVariable_current.BI_Auto_Notification_In_Progress__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT({!myVariable_current.BI_Auto_Notification_In_Progress__c}) &lt;&gt; &apos;&apos;)  &amp;&amp;
({!myVariable_current.BI_In_Progress_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_In_Progress_Notification_Sent_Int__c}  = False)) ||

(ISCHANGED({!myVariable_current.Status} ) &amp;&amp; 
CONTAINS(Text({!myVariable_current.Status}), &apos;Closed&apos;) &amp;&amp; 
(TEXT({!myVariable_current.BI_Auto_Notification_Closed__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT({!myVariable_current.BI_Auto_Notification_Closed__c}) &lt;&gt; &apos;&apos;)  &amp;&amp;
({!myVariable_current.BI_Closed_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_Closed_Notification_Sent_Int__c} = False))



)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(CONTAINS([Case].BI_Vanity_Mailbox_Source__c , &apos;govtsales@united.com&apos;) || ISPICKVAL([Case].BI_Area_of_Support__c, &apos;Government Sales&apos;))  &amp;&amp;
(

(CONTAINS(Text([Case].Status), &apos;New&apos;) &amp;&amp; (TEXT( [Case].BI_Auto_Notification_New__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp; (TEXT( [Case].BI_Auto_Notification_New__c) &lt;&gt; &apos;&apos;) &amp;&amp;  
([Case].BI_New_Notification_Sent_Ext__c = False || [Case].BI_New_Notification_Sent_Int__c == False)) ||

(ISCHANGED([Case].Status ) &amp;&amp; 
CONTAINS(Text([Case].Status), &apos;In Progress&apos;) &amp;&amp; 
(TEXT([Case].BI_Auto_Notification_In_Progress__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT([Case].BI_Auto_Notification_In_Progress__c) &lt;&gt; &apos;&apos;)  &amp;&amp;
([Case].BI_In_Progress_Notification_Sent_Ext__c = False || [Case].BI_In_Progress_Notification_Sent_Int__c  = False)) ||

(ISCHANGED([Case].Status ) &amp;&amp; 
CONTAINS(Text([Case].Status), &apos;Closed&apos;) &amp;&amp; 
(TEXT([Case].BI_Auto_Notification_Closed__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT([Case].BI_Auto_Notification_Closed__c) &lt;&gt; &apos;&apos;)  &amp;&amp;
([Case].BI_Closed_Notification_Sent_Ext__c = False || [Case].BI_Closed_Notification_Sent_Int__c = False))



)

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>(CONTAINS({!myVariable_current.BI_Vanity_Mailbox_Source__c} , &apos;govtsales@united.com&apos;) || ISPICKVAL({!myVariable_current.BI_Area_of_Support__c}, &apos;Government Sales&apos;))  &amp;&amp;
(

(CONTAINS(Text({!myVariable_current.Status}), &apos;New&apos;) &amp;&amp; (TEXT( {!myVariable_current.BI_Auto_Notification_New__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp; (TEXT( {!myVariable_current.BI_Auto_Notification_New__c}) &lt;&gt; &apos;&apos;) &amp;&amp;  
({!myVariable_current.BI_New_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_New_Notification_Sent_Int__c} == False)) ||

(ISCHANGED({!myVariable_current.Status} ) &amp;&amp; 
CONTAINS(Text({!myVariable_current.Status}), &apos;In Progress&apos;) &amp;&amp; 
(TEXT({!myVariable_current.BI_Auto_Notification_In_Progress__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT({!myVariable_current.BI_Auto_Notification_In_Progress__c}) &lt;&gt; &apos;&apos;)  &amp;&amp;
({!myVariable_current.BI_In_Progress_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_In_Progress_Notification_Sent_Int__c}  = False)) ||

(ISCHANGED({!myVariable_current.Status} ) &amp;&amp; 
CONTAINS(Text({!myVariable_current.Status}), &apos;Closed&apos;) &amp;&amp; 
(TEXT({!myVariable_current.BI_Auto_Notification_Closed__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT({!myVariable_current.BI_Auto_Notification_Closed__c}) &lt;&gt; &apos;&apos;)  &amp;&amp;
({!myVariable_current.BI_Closed_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_Closed_Notification_Sent_Int__c} = False))



)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(CONTAINS([Case].BI_Vanity_Mailbox_Source__c , &apos;ucdhelp@united.com&apos;) || ISPICKVAL([Case].BI_Area_of_Support__c, &apos;United Corporate Direct (UCD)&apos;))  &amp;&amp;
(

(CONTAINS(Text([Case].Status), &apos;New&apos;) &amp;&amp; (TEXT( [Case].BI_Auto_Notification_New__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp; (TEXT( [Case].BI_Auto_Notification_New__c) &lt;&gt; &apos;&apos;) &amp;&amp;  
([Case].BI_New_Notification_Sent_Ext__c = False || [Case].BI_New_Notification_Sent_Int__c == False)) ||

(ISCHANGED([Case].Status ) &amp;&amp; 
CONTAINS(Text([Case].Status), &apos;In Progress&apos;) &amp;&amp; 
(TEXT([Case].BI_Auto_Notification_In_Progress__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT([Case].BI_Auto_Notification_In_Progress__c) &lt;&gt; &apos;&apos;)  &amp;&amp;
([Case].BI_In_Progress_Notification_Sent_Ext__c = False || [Case].BI_In_Progress_Notification_Sent_Int__c  = False)) ||

(ISCHANGED([Case].Status ) &amp;&amp; 
CONTAINS(Text([Case].Status), &apos;Closed&apos;) &amp;&amp; 
(TEXT([Case].BI_Auto_Notification_Closed__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT([Case].BI_Auto_Notification_Closed__c) &lt;&gt; &apos;&apos;)  &amp;&amp;
([Case].BI_Closed_Notification_Sent_Ext__c = False || [Case].BI_Closed_Notification_Sent_Int__c = False))



)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>(CONTAINS({!myVariable_current.BI_Vanity_Mailbox_Source__c} , &apos;ucdhelp@united.com&apos;) || ISPICKVAL({!myVariable_current.BI_Area_of_Support__c}, &apos;United Corporate Direct (UCD)&apos;))  &amp;&amp;
(

(CONTAINS(Text({!myVariable_current.Status}), &apos;New&apos;) &amp;&amp; (TEXT( {!myVariable_current.BI_Auto_Notification_New__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp; (TEXT( {!myVariable_current.BI_Auto_Notification_New__c}) &lt;&gt; &apos;&apos;) &amp;&amp;  
({!myVariable_current.BI_New_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_New_Notification_Sent_Int__c} == False)) ||

(ISCHANGED({!myVariable_current.Status} ) &amp;&amp; 
CONTAINS(Text({!myVariable_current.Status}), &apos;In Progress&apos;) &amp;&amp; 
(TEXT({!myVariable_current.BI_Auto_Notification_In_Progress__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT({!myVariable_current.BI_Auto_Notification_In_Progress__c}) &lt;&gt; &apos;&apos;)  &amp;&amp;
({!myVariable_current.BI_In_Progress_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_In_Progress_Notification_Sent_Int__c}  = False)) ||

(ISCHANGED({!myVariable_current.Status} ) &amp;&amp; 
CONTAINS(Text({!myVariable_current.Status}), &apos;Closed&apos;) &amp;&amp; 
(TEXT({!myVariable_current.BI_Auto_Notification_Closed__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT({!myVariable_current.BI_Auto_Notification_Closed__c}) &lt;&gt; &apos;&apos;)  &amp;&amp;
({!myVariable_current.BI_Closed_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_Closed_Notification_Sent_Int__c} = False))



)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(CONTAINS([Case].BI_Vanity_Mailbox_Source__c , &apos;entertainment@united.com&apos;) || ISPICKVAL([Case].BI_Area_of_Support__c, &apos;Entertainment&apos;))  &amp;&amp;
(

(CONTAINS(Text([Case].Status), &apos;New&apos;) &amp;&amp; (TEXT( [Case].BI_Auto_Notification_New__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp; (TEXT( [Case].BI_Auto_Notification_New__c) &lt;&gt; &apos;&apos;) &amp;&amp;  
([Case].BI_New_Notification_Sent_Ext__c = False || [Case].BI_New_Notification_Sent_Int__c == False)) ||

(ISCHANGED([Case].Status ) &amp;&amp; 
CONTAINS(Text([Case].Status), &apos;In Progress&apos;) &amp;&amp; 
(TEXT([Case].BI_Auto_Notification_In_Progress__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT([Case].BI_Auto_Notification_In_Progress__c) &lt;&gt; &apos;&apos;)  &amp;&amp;
([Case].BI_In_Progress_Notification_Sent_Ext__c = False || [Case].BI_In_Progress_Notification_Sent_Int__c  = False)) ||

(ISCHANGED([Case].Status ) &amp;&amp; 
CONTAINS(Text([Case].Status), &apos;Closed&apos;) &amp;&amp; 
(TEXT([Case].BI_Auto_Notification_Closed__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT([Case].BI_Auto_Notification_Closed__c) &lt;&gt; &apos;&apos;)  &amp;&amp;
([Case].BI_Closed_Notification_Sent_Ext__c = False || [Case].BI_Closed_Notification_Sent_Int__c = False))



)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>(CONTAINS({!myVariable_current.BI_Vanity_Mailbox_Source__c} , &apos;entertainment@united.com&apos;) || ISPICKVAL({!myVariable_current.BI_Area_of_Support__c}, &apos;Entertainment&apos;))  &amp;&amp;
(

(CONTAINS(Text({!myVariable_current.Status}), &apos;New&apos;) &amp;&amp; (TEXT( {!myVariable_current.BI_Auto_Notification_New__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp; (TEXT( {!myVariable_current.BI_Auto_Notification_New__c}) &lt;&gt; &apos;&apos;) &amp;&amp;  
({!myVariable_current.BI_New_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_New_Notification_Sent_Int__c} == False)) ||

(ISCHANGED({!myVariable_current.Status} ) &amp;&amp; 
CONTAINS(Text({!myVariable_current.Status}), &apos;In Progress&apos;) &amp;&amp; 
(TEXT({!myVariable_current.BI_Auto_Notification_In_Progress__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT({!myVariable_current.BI_Auto_Notification_In_Progress__c}) &lt;&gt; &apos;&apos;)  &amp;&amp;
({!myVariable_current.BI_In_Progress_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_In_Progress_Notification_Sent_Int__c}  = False)) ||

(ISCHANGED({!myVariable_current.Status} ) &amp;&amp; 
CONTAINS(Text({!myVariable_current.Status}), &apos;Closed&apos;) &amp;&amp; 
(TEXT({!myVariable_current.BI_Auto_Notification_Closed__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT({!myVariable_current.BI_Auto_Notification_Closed__c}) &lt;&gt; &apos;&apos;)  &amp;&amp;
({!myVariable_current.BI_Closed_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_Closed_Notification_Sent_Int__c} = False))



)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(CONTAINS([Case].BI_Vanity_Mailbox_Source__c , &apos;amexsupport@united.com&apos;) || ISPICKVAL([Case].BI_Area_of_Support__c, &apos;AMEX&apos;))  &amp;&amp;
(

(CONTAINS(Text([Case].Status), &apos;New&apos;) &amp;&amp; (TEXT( [Case].BI_Auto_Notification_New__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp; (TEXT( [Case].BI_Auto_Notification_New__c) &lt;&gt; &apos;&apos;) &amp;&amp;  
([Case].BI_New_Notification_Sent_Ext__c = False || [Case].BI_New_Notification_Sent_Int__c == False)) ||

(ISCHANGED([Case].Status ) &amp;&amp; 
CONTAINS(Text([Case].Status), &apos;In Progress&apos;) &amp;&amp; 
(TEXT([Case].BI_Auto_Notification_In_Progress__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT([Case].BI_Auto_Notification_In_Progress__c) &lt;&gt; &apos;&apos;)  &amp;&amp;
([Case].BI_In_Progress_Notification_Sent_Ext__c = False || [Case].BI_In_Progress_Notification_Sent_Int__c  = False)) ||

(ISCHANGED([Case].Status ) &amp;&amp; 
CONTAINS(Text([Case].Status), &apos;Closed&apos;) &amp;&amp; 
(TEXT([Case].BI_Auto_Notification_Closed__c) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT([Case].BI_Auto_Notification_Closed__c) &lt;&gt; &apos;&apos;)  &amp;&amp;
([Case].BI_Closed_Notification_Sent_Ext__c = False || [Case].BI_Closed_Notification_Sent_Int__c = False))



)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>(CONTAINS({!myVariable_current.BI_Vanity_Mailbox_Source__c} , &apos;amexsupport@united.com&apos;) || ISPICKVAL({!myVariable_current.BI_Area_of_Support__c}, &apos;AMEX&apos;))  &amp;&amp;
(

(CONTAINS(Text({!myVariable_current.Status}), &apos;New&apos;) &amp;&amp; (TEXT( {!myVariable_current.BI_Auto_Notification_New__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp; (TEXT( {!myVariable_current.BI_Auto_Notification_New__c}) &lt;&gt; &apos;&apos;) &amp;&amp;  
({!myVariable_current.BI_New_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_New_Notification_Sent_Int__c} == False)) ||

(ISCHANGED({!myVariable_current.Status} ) &amp;&amp; 
CONTAINS(Text({!myVariable_current.Status}), &apos;In Progress&apos;) &amp;&amp; 
(TEXT({!myVariable_current.BI_Auto_Notification_In_Progress__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT({!myVariable_current.BI_Auto_Notification_In_Progress__c}) &lt;&gt; &apos;&apos;)  &amp;&amp;
({!myVariable_current.BI_In_Progress_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_In_Progress_Notification_Sent_Int__c}  = False)) ||

(ISCHANGED({!myVariable_current.Status} ) &amp;&amp; 
CONTAINS(Text({!myVariable_current.Status}), &apos;Closed&apos;) &amp;&amp; 
(TEXT({!myVariable_current.BI_Auto_Notification_Closed__c}) &lt;&gt; &apos;Do Not Send&apos;) &amp;&amp;
(TEXT({!myVariable_current.BI_Auto_Notification_Closed__c}) &lt;&gt; &apos;&apos;)  &amp;&amp;
({!myVariable_current.BI_Closed_Notification_Sent_Ext__c} = False || {!myVariable_current.BI_Closed_Notification_Sent_Int__c} = False))



)</expression>
    </formulas>
    <interviewLabel>Case-12_InterviewLabel</interviewLabel>
    <label>Case - Initiating Process</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
